.Main_chat__header__leftbox
  .Main_chat__header__leftbox__group_name
    = @group.name
  %ul.Main_chat__header__leftbox__member_list
    Member :
    .Main_chat__header__leftbox__member_list__name
      - @group.users.each do |user|
        %li.Main_chat__header__leftbox__member_list__name__content= user.name
.Main_chat__header__btn
  = link_to edit_group_path(@group.id), class: "Main_chat__header__btn--edit" do
    Edit