.Side_bar
  - current_user.groups.each do |group|
    .Side_bar__list__box
      = link_to group_messages_path(group), class: "Side_bar__list__box__link" do
        .Side_bar__list__box__group_name
          = group.name
        .Side_bar__list__box__message
          = group.show_last_message