.Wrapper
  .Btns
    = link_to "ツアーゲストを探す", "#", class: "Btns__btn"
    = link_to "ツアーキャストを探す", "#", class: "Btns__btn"
  .Home_box
    .Home_box__Title Biita!とは？
    %p.text Biita!は、海外旅行がしたい日本人（ツアーゲスト）と、海外在住で旅行の手助けが可能な日本人（ツアーキャスト）をマッチングさせるサービスです。
  .Home_box
    .Home_box__Title Biita!の魅力
    %p.Sub_title.text ●旅行したい方にとっての魅力
    .Content.text
      %ul
        %li 1. 現地をよく知っている日本人が対応してくれるので、海外でも安心して旅行できます。
        %li 2. 旅行会社のツアーに参加するより、安い費用で済むことが多いです。
        %li 3. ちょっとした距離の車の運転から、2日以上の観光案内まで、多岐に渡るサービスを依頼できます。
    %p.Sub_title.text ●海外在住の方にとっての魅力
    .Content.text
      %ul
        %li 1. スキマ時間や休日を使って、ちょっとしたお小遣いを稼ぐことができます。
        %li 2. 現地で日本人と話す機会が少ない方は、日本人と接することで充実した時間を過ごすことができます。
