$media_width: 768px;
$media_width_l: 1024px;
$media_width_ll: 1140px;

$content_width_s: 85vw;

$header_height: 50px;
$mini_header_height: 40px;

@mixin two-lines() {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal;
}

@mixin three-lines() {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: normal;
}


@media (max-width: $media_width_l) {

  .Wrapper {
    &__Inner {
      padding: 20px 0;
      width: 90vw;
      max-width: 880px;
      margin: 0 auto;
    }
  }

}

@media (max-width: $media_width) {

  html{
    font-size: 60%;
  }


  .Wrapper {
    height: calc(100vh - 50px);
    overflow: scroll;
    &__Inner {
      padding: 20px 0;
      width: 90vw;
      max-width: 880px;
      margin: 0 auto;
    }
  }
  
  .Back_btn {
    display: block;
    font-size: 2rem;
    color: gray;
    line-height: $mini_header_height;
    margin-right: 15px;
  }

  .Title {
    font-size: 1.7rem;
    padding-left: 0;
  }

  .Form_title {
    width: $content_width_s;
    margin: 0 auto;
    position: relative;
    .Back_btn {
      position: absolute;
      left: 0;
      line-height: 25px;
    }
  }

  .Btn {
    width: 100px;
    padding: 10px 15px;
    margin: 25px auto;
  }

}