$media_width: 768px;
$media_width_l: 1024px;
$media_width_ll: 1140px;

$content_width_s: 85vw;

$header_height: 50px;
$mini_header_height: 40px;

$review_header_height: 50px;

@mixin two-lines() {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal;
}

@mixin three-lines() {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: normal;
}


@media (max-width: $media_width_l) {

  .Wrapper {
    &__Inner {
      padding: 20px 0;
      width: 90vw;
      max-width: 880px;
      margin: 0 auto;
    }
  }

  img {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

}

@media (max-width: $media_width) {

  html{
    font-size: 60%;
  }


  .Wrapper {
    height: calc(100vh - 50px);
    overflow: scroll;
    &__Inner {
      padding: 20px 0;
      width: 90vw;
      max-width: 880px;
      margin: 0 auto;
    }
  }

  img {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

}