// ===============レスポンシブ=================

@import "modules/base";
@import "breakpoints/base_s";

@media (max-width: $media_width) {

  .Home_upper {
    height: 625px;
    &__Content {
      width: $content_width_s;
      height: 100%;
      flex-direction: column;
      justify-content: flex-start;
      padding: 20px 0 35px;
      .Home_images {
        width: 100%;
        margin: 0 auto;
      }
      .Home_right {
        width: 100%;
        margin-top: 5vw;
        .Home_text {
          width: 100%;
          margin-top: 0px;
          &__Title {
            font-size: 2.26rem;
          }
          &__Introduction {
            font-size: 1.5rem;
            margin: 15px 0 20px 3px;
            span {
              font-size: 1.7rem;
            }
            .br-pc {
              display: none;
            }
          }
          .Home_btns {
            width: 100%;
            min-width: 307.5px;
            margin: 0 auto;
            position: relative;
            .Home_btn {
              width: 50%;
              height: 40px;
              font-size: 1.3rem;
              line-height: 40px;
            }
            .Home_btn1 {
              position: absolute;
              left: -2%;

            }
            .Home_btn2 {
              position: absolute;
              right: -2%;
            }
          }
        }
      }
    }
  }
  .Home_lower {
    padding: 35px 0;
    &__Content {
      .Merits_title {
        font-size: 2.2rem;
        margin-bottom: 10px;
        span {
          font-size: 2.4rem;
        }
      }
      .Merits {
        .Merit {
          margin: 20px auto 10px;
          &__Title {
            font-size: 1.8rem;
            margin: 10px auto;
            span {
              font-size: 2rem;
            }
          }
          &__Content {
            font-size: 1.5rem;
            line-height: 3rem;
          }
        }
      }
    }
  }
}