// ===============レスポンシブ=================

@import "modules/base";
@import "breakpoints/base_s";

@media (max-width: $media_width) {

  // ユーザー登録

  .Form {
    width: $content_width_s;
    margin: 50px auto;
    &__Content {
      margin-bottom: 40px;
      font-size: 15px;
      > label {
        font-weight: bold;
        display: inline-block;
        margin-bottom: 3px;
      }
      &__Field {
        height: 40px;
        width: $content_width_s;
        margin-bottom: 5px;
        padding: 5px;
        border: solid 1px $gray1;
        border-radius: 3px;
        &--Large {
          width: $content_width_s;
          padding: 5px;
          border: solid 1px $gray1;
          border-radius: 3px;
        }
      }
    }
  }

  .Btn {
    width: 100px;
    padding: 10px 15px;
    margin: 30px auto;
  }
  
  // プロフィール編集
  
  .Edit_profile_image {
    width: 120px;
    margin: 20px auto 0;
  }
  
  .Profile_image {
    height: 120px;
  }

  .Edit_profile_form {
    width: $content_width_s;
    margin: 5px auto 0;
    &__Btn{
      margin: 0 auto 15px;
    }
  }

}