$black: #4A4A4A;

.Wrapper {
  height: calc(100vh - 60px);
  overflow: scroll;
  &__Inner {
    padding: 30px 0;
    width: 61%;
    max-width: 880px;
    margin: 0 auto;
  }
}

.Title {
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 15px;
}

.Bold {
  font-weight: bold;
}

a {
  color: $black;
}
a:hover {
  color: $black;
}

.Text {
  font-size: 14px;
}

.Text_s {
  font-size: 12px;
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.Flex {
  display: flex;
}
