.Notification {
  .notice {
    background-color: #66cc99;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
  }

  .alert {
    background-color: #ffa500;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
  }
}