$yellow: #ffff80;
$gray: #f5f5f5;
$orange: #FFC882;
$orange1: #FF6D05;
$orange2: #ffa500;

.Header {
  background-color: $yellow;
  padding: 0 150px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  &__Bar {
    width: 1140px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    &__Content{
      height: 60px;
      display: flex;
      align-items: center;
    }
    &__Search{
      width: 340px;
      font-size: 15px;
      display: flex;
      justify-content: space-between;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      color: $orange1;
      font-weight: bold;
      > a {
        line-height: 60px;
        color: $orange1;
        font-weight: bold;
        display: block;
        position: relative;
      }
      > a::before,
      > a::after {
        border-bottom: solid 2px $orange1;
        bottom: 0;
        content: "";
        display: block;
        position: absolute;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        width: 0;
      }
      > a::before {
        left: 50%;
      }
      > a::after {
        right: 50%;
      }
      > a:hover::before,
      > a:hover::after {
        width: 50%;
      }
    }
    &__Title {
      height: 70px;
      width: 400px;
      color: black;
      font-size: 33px;
      font-weight: bold;
      line-height: 70px;
      .fa-rotate-270 {
        transform: rotate(270deg);
      }
      .fa-orange {
        color: $orange1;
      }
    }
    &__Btns {
      color: black;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .Left {
        margin-left: 0;
      }
      .Right {
        margin: auto 0;
      }
      &__Btn {
        color: black;
        font-size: 14px;
        font-weight: bold;
        display: flex;
        align-items: center;
        margin-left: 25px;
        &--icon {
          font-size: 28px;
          line-height: 40px;
          padding: 6px 0;
        }
        .Bell {
          margin: 0 5px;
        }
        .fa-circle {
          font-size: 12px;
          color: $orange1;
          position: absolute;
          left: 10px;
          top: 9px;
        }
        &__Image{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          margin: auto 0;
        }
      }
      .Menu_box_right {
        margin-left: 25px;
      }
      .Menu {
        padding-top: 5px;
        display: none;
        position: absolute;
        z-index: 2;
        &__Content {
          padding: 7px 15px;
          font-size: 14px;
          background-color: $gray;
        }
        &__Content:hover {
          padding: 7px 15px;
          background-color: $orange;
          font-size: 14px;
        }
        > a {
          text-decoration: none;
          color: black;
        }
      }
      .Menu_box:hover .Menu {
        display: inline-block;
      }
    }
  }
}