$yellow: #ffff80;
$gray: #f5f5f5;
$orange: #FFC882;

.Header {
  background-color: $yellow;
  &__bar {
    display: flex;
    justify-content: space-between;
    height: 70px;
    &__title {
      color: black;
      font-size: 35px;
      font-weight: bold;
      line-height: 70px;
      margin-left: 200px;
    }
    &__btns {
      width: 500px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 200px;
      &__btn {
        width: 110px;
        color: black;
        font-size: 14px;
        border: solid 0.3px black;
        border-radius: 20px;
        padding: 5px 7px;
        margin-left: 20px;
        text-align: center;
      }
      .Menu {
        display: none;
        position: absolute;
        &__post:hover {
          background-color: $orange;
          color: white;
        }
        > ul {
          list-style: none;
          margin: 0;
          padding: 0;
          width: 220px;
          text-align: center;
          background-color: $gray;
          > li  {
            > a {
              text-decoration: none;
              color: black;
            }
          }
        }
      }
      .Menu_box:hover .Menu {
        display: inline-block;
      }
    }
  }
}