$orange: #ffa500;

.Wrapper {
  padding: 30px 200px;
  overflow: scroll;
  height: calc(100vh - 70px);
  .Btns {
    display: flex;
    justify-content: center;
    &__btn {
      height: 60px;
      width: 250px;
      text-decoration: none;
      color: $orange;
      font-weight: bold;
      padding: 15px;
      margin: 40px 40px 60px 40px;
      border: solid 2px $orange;
      font-size: 18px;
      text-align: center;
    }
  }
  .Home_box {
    margin-bottom: 40px;
    .Sub_title {
    margin-bottom: 10px;
    }
    .Content {
      border: solid 1px $orange;
      padding: 15px;
      margin-bottom: 20px;
      li {
        margin-bottom: 5px;
      }
    }
  }
  .Title {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 15px;
    }
}