$yellow: #ffff80;
$orange1: #FF6D05;
$orange2: #ffa500;


.Yellow {
  width: 100%;
  min-height: calc(100vh - 210px);
  background-color: $yellow;
  .Home_upper {
    width: 1140px;
    height: 730px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    padding: 70px 0;
    .Home_images {
      width: 610px;
      height: 610px;
      display: flex;
      flex-wrap: wrap;
      .Home_image {
        width: 270px;
        height: 270px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 35px 35px 0;
      }
      .Home_image_l {
        object-fit: cover;
      }
    }
    .Home_text {
      width: 480px;
      height: 242px;
      margin-top: 160px;
      &__Title {
        color: $orange1;
        font-weight: bold;
        font-size: 28px;
      }
      &__Introduction {
        font-weight: bold;
        line-height: 30px;
        margin: 30px 0 40px;
        span {
          font-size: 18px;
        }
      }
      .Home_btns {
        width: 430px;
        display: flex;
        justify-content: space-between;
        .Home_btn {
          width: 200px;
          height: 50px;
          background-color: $orange2;
          color: white;
          font-weight: bold;
          line-height: 50px;
          border-radius: 10px;
          text-align: center;
          cursor: pointer;
        }
      }
    }
  }
}

.Wrapper {
  height: calc(100vh - 60px);
  overflow: scroll;
  &__Inner {
    padding: 30px 0;
    width: 880px;
    margin: 0 auto;
  }
}

.Title {
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 15px;
}

.Bold {
  font-weight: bold;
}