$orange: #FF8C00;
$gray1: #A4A8B1;
$gray2: #B3B8BB;
$gray3: #D4D6D5;

@mixin texthidden() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Mypage_wrapper {
  height: calc(100vh - 60px);
  overflow: scroll;
  &__Inner {
    width: 1100px;
    padding: 35px 0;
    margin: 0 auto;

    // サイドバー
    .Mypage_side_bar {
      width: 220px;
      height: 220px;
      a {
        color: gray;
      }
      .Mypage_side_bar_row {
        height: 20px;
        margin-bottom: 30px;
        display: flex;
        .Mypage_side_bar_btn {
          font-weight: bold;
          line-height: 20px;
          text-align: start;
        }
        > i {
          width: 35px;
          font-size: 20px;
          color: gray;
          display: inline-block;
        }
        .fa-user {
          padding-left: 2px;
        }
        .fa-check-circle {
          padding-left: 1px;
        }
        .fa-bookmark {
          padding-left: 4px;
        }
        span {
          width: 35px;
        }
        .fa-bell {
          width: 10px;
          font-size: 20px;
          padding-left: 0;
          display: inline-block;
          color: gray;
        }
        .fa-circle {
          width: 10px;
          line-height: 10px;
          font-size: 8px;
          color: $orange;
          position: absolute;
          left: 10px;
          top: 9px;
        }
        .Bell {
          width: 35px;
        }
      }
      .Active1 {
        color: $orange;
        i {
          color: $orange;
        }
      }
      .Post_type_btns_title_row {
        width: 170px;
        height: 33px;
        border-bottom: solid 2px $gray3;
        padding-top: 2px;
        margin: 0 0 25px;
        display: flex;
        .Post_type_btns_title {
          color: $gray1;
          font-weight: bold;
          line-height: 20px;
        }
        > i {
          width: 35px;
          font-size: 20px;
          display: block;
        }
      }
    }

    // マイページ上部
    .Mypage_upper {
      display: flex;
      &__Main {
        width: 880px;
        margin: 0 auto;
        .Profile {
          width: 840px;
          margin: 0px auto 20px;
          &__Upper {
            height: 130px;
            margin-bottom: 20px;
            display: flex;
            .Profile_content {
              width: 680px;
              justify-content: space-between;
              margin-top: 23px;
              position: relative;
              .Name {
                width: 150px;
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 15px;
              }
              .Mypage_review {
                display: flex;
                text-align: center;
                margin-bottom: 10px;
                .Star_rating {
                  width: 120px;
                  height: 19.45px;
                  position: relative;
                  margin: auto 5px auto 0;
                  .Front {
                    height: 19.45px;
                    position: absolute;
                    top: 0px;
                    left: 0;
                    object-fit: cover;
                    object-position: 0% 0%;
                  }
                }
                .Review_info {
                  line-height: 19.45px;
                  margin: auto 20px auto 0;
                  a {
                    font-size: 15px;
                  }
                }
              }
              .Mypage_follow_counts {
                display: flex;
                .Mypage_follow_count {
                  font-size: 15px;
                  margin-right: 20px;
                  a {
                    color: #4A4A4A;
                  }
                  span {
                    font-size: 17px;
                    font-weight: bold;
                  }
                }
              }
              .Mypage_btns {
                // width: 340px;
                position: absolute;
                top: 0;
                right: 0;
                // display: flex;
                // justify-content: flex-end;
                .Left {
                  // margin-right: 20px;
                }
              }
            }
          }
          &__Lower {
            width: 100%;
            font-size: 15px;
            overflow: hidden;
            margin-bottom: 45px;
          }
        }
      }
    }

    
    // マイページ下部
    .Mypage_lower {
      display: flex;
      &__Main {
        width: 880px;
        margin: 0 auto;
        .User_page_tabs {
          width: 880px;
          display: flex;
          margin: 0 auto;
          margin-bottom: 15px;
          .User_page_tab {
            height: 33px;
            width: 170px;
            text-align: center;
            font-weight: bold;
            color: gray;
            margin: 0 10px;
          }
          .Active2 {
            color: $orange;
            border-bottom: solid 2px $orange;
          }
        }
        .Mypage_lower__Content {
          display: none;
          position: sticky;
          top: 30px;
          .User_giving_posts, 
          .User_taken_posts,
          .User_taking_posts,
          .User_favorite_posts {
            display: none;
          }
          .Show2 {
            display: block;
          }
        }
        .Show1 {
          display: block;
        }
      }
    }
    
    
  }
}

.White_btn {
  width: 190px;
  height: 40px;
  color: $orange;
  background-color: white;
  font-weight: bold;
  font-size: 15px;
  border: solid 1.5px $orange;
  display: block;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
  display: flex;
  position: relative;
  &__Content {
    margin: 0 auto;
    line-height: 35px;
    a {
      color: $orange;
    }
    i {
      line-height: 35px;
      font-size: 18px;
      margin-right: 3px;
    }
    .fa-user-check {
      color: white;
    }
  }
  &:hover {
    color: $orange;
  }
}