$orange1: #FF6D05;
$orange2: #ffa500;
$gray1: #A4A8B1;
$gray2: #B3B8BB;
$gray3: #D4D6D5;

hr {
  width: 880px;
  background-color: $gray3;
  margin: 0 auto;
}

.Notification1 {
  padding: 20px 40px;
  border-bottom: 2px solid $gray3;
  display: flex;
  .Notification_user_image {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto 30px auto 0;
  }
  &__Text {
    width: 690px;
    height: 80px;
    font-size: 15px;
    line-height: 25px;
    margin: auto 0;
    position: relative;
    > span {
      font-weight: bold;
      > a {
        color: #4a4a4a;
      }
    }
    .Notification_time {
      width: 300px;
      font-size: 14px;
      color: #7B7D7F;
    }
    > i {
      position: absolute;
      right: 0px;
      bottom: 3px;
      color: $orange1;
      font-size: 20px;
    }
  }
}