@import "modules/base";


// INDEX
.Post_index_wrapper {
  width: 100%;
  height: calc(100vh - 60px);
  overflow: scroll;
  &__Inner {
    width: 79vw;
    padding: 30px 0;
    margin: 0 auto;
    display: flex;
    // 投稿検索
    .Post_index_left {
      width: 220px;
      margin-right: 40px;
      .Title {
        display: none;
      }
      .Search_title {
        font-size: 1.7rem;
        margin-top: 5px;
        margin-left: 5px;
      }
      .Keyword {
        margin: 30px 0;
        &__Form {
          &__Input {
            display: flex;
            &__Text {
              width: 100%;
              padding: 0 5px 5px;
              font-size: 1.5rem;
              border-style: none;
              outline: none;
              border-bottom: solid 2px silver;
            }
            &__Text:focus {
              border-bottom: solid 2px $orange;
            }
            &__Text:focus ~
            .Keyword__Form__Input__Btn{
              color: $orange;
            }
            &__Btn {
              color: silver;
              background-color: white;
              font-size: 2.2rem;
              border-style: none;
              display: block;
              cursor: pointer;
              outline: none;
            }
          }
        }
      }
      .Tag_list {
        .tag {
          font-size: 1.4rem;
          color: $orange;
          margin-right: 5px;
          margin-bottom: 10px;
        }
      }
    }
    // 投稿一覧表示
    .Post_index_right {
      max-width: 880px;
      width: 100%;
      .Post_index_title {
        display: none;
      }
    }
  }
}

// =================================================

// INDEX, USERS#SHOW
.Post_index {
  max-width: 880px;
  width: 100%;
}
.Post_box_outer {
  color: $black;
  background-color: white;
  max-width: 880px;
  width: 100%;
  border: solid 1px silver;
  border-radius: 30px;
  margin-bottom: 20px;
  padding: 25px 40px;
  @include shadow();
  .Post_box {
    width: 100%;
    display: flex;

    // ユーザー情報
    &__Left {
      height: 100px;
      width: 310px;
      display: flex;
      margin: auto 0;
      > a  {
        height: 90px;
        width: 90px;
        margin: auto 30px auto 0;
      }
      &__Image {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        object-fit: cover;
        margin: auto 30px auto 0;
      }
      &__Other {
        line-height: 18px;
        margin: auto 0;
        .Post_index_username {
          font-weight: bold;
          font-size: 1.5rem;
          margin-bottom: 15px;
        }
        .Post_index_review {
          display: flex;
          .Star_rating {
            width: 111px;
            position: relative;
            margin: 0 5px 5px 0;
            img {
              height: 18px;
            }
            .Front {
              position: absolute;
              top: 0;
              left: 0;
              object-fit: cover;
              object-position: 0% 0%;
            }
          }
        }
      }
    }
    // 投稿の中身
    &__Right {
      width: 100%;
      max-width: 490px;
      &__Title {
        width: 100%;
        max-width: 490px;
        height: 24px;
        font-weight: bold;
        @include texthidden();
      }
      .Tag_list {
        margin: 5px 0;
        .tag {
          color: $orange;
          font-size: 1.2rem;
        }
      }
      &__Text {
        margin: 0 auto;
        .tr {
          height: 31px;
          padding: 5px 0;
          display: flex;
          .th {
            color: gray;
            margin-right: 12px;
          }
          .td {
            max-width: 450px;
            @include texthidden();
          }
        }
        .table_lower {
          max-width: 490px;
          display: flex;
          > .tr {
            height: 31px;
            padding: 5px 0;
            display: flex;
            @include texthidden();
            .td_date {
              margin-right: 20px;
              @include texthidden();
            }
            .td_charge {
              @include texthidden();
            }
          }
        }
      }
    }
  }
}

.Empty {
  color: $gray1;
  font-size: 1.8rem;
  margin-top: 80px;
  margin-left: 10px;
  text-align: center;
  > img {
    width: 120px;
    margin-bottom: 5px;
  }
}


// =================================================

// SHOW
.Post_show_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  // 投稿者の情報
  .Post_user_info {
    width: 190px;
    margin-top: 30px;
    margin-right: 50px;
    text-align: center;
    &__Image {
      height: 120px;
      width: 120px;
      border-radius: 50%;
      object-fit: cover;
      margin: 15px auto 5px;
    }
    .Post_user_info__Review {
      width: 150px;
      height: 19.45px;
      line-height: 19.45px;
      display: flex;
      justify-content: space-between;
      margin: 20px auto 8px;
      .Star_rating {
        width: 120px;
        position: relative;
        img {
          height: 19.45px;
        }
        .Front {
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          object-position: 0% 0%;
        }
      }
    }
    > a {
      color: $blue;
    }
    &__Follow_counts {
      display: flex;
      justify-content: center;
      margin: 10px auto 30px;
      .Follow_count {
        font-size: 14px;
        span {
          font-size: 16px;
          font-weight: bold;
        }
      }
      .Left {
        margin-right: 10px;
      }
    }
    .Btns {
      margin: 0 auto;
      a {
        font-size: 15px;
      }
    }
    // 申込済みのユーザー
    .Takers {
      margin-top: 40px;
      .Takers_title {
        font-size: 1.5rem;
        margin-bottom: 15px;
      }
      .Takers_empty {
        font-size: 1.5rem;
        margin: 15px auto;
      }
      .Takers_count {
        font-size: 1.5rem;
        i {
          color: $orange;
          font-size: 28px;
          margin-right: 5px;
        }
      }
      .Taker_box {
        width: 160px;
        height: 60px;
        display: flex;
        margin: 15px auto;
        &__Image {
          height: 55px;
          width: 55px;
          border-radius: 50%;
          object-fit: cover;
          margin-left: 0;
          margin-right: 15px;
        }
        &__Name {
          width: 90px;
          text-align: left;
          margin: auto;
        }
      }
    }
  }
  // 投稿の詳細
  .Post_main {
    &__Box {
      width: 99%;
      min-width: 633px;
      border: solid 1px silver;
      border-radius: 30px;
      padding: 30px 50px;
      @include shadow();
      margin: 5px 10px 10px 0;
      position: relative;
      .Back_btn {
        position: absolute;
        top: -7px;
        left: 5px;
      }
      .Post_bookmark--Icon {
        position: absolute;
        top: 30px;
        right: 50px;
        font-size: 3.5rem;
        color: $orange;
        cursor: pointer;
      }
      .Post_show_title {
        width: 80%;
        font-size: 18px;
        text-align: center;
        margin: 0 auto 10px;
      }
      .Tag_list {
        text-align: center;
        .tag {
          color: $orange;
          font-size: 1.3rem;
          margin-bottom: 5px;
        }
      }
      .Post_table {
        width: 100%;
        margin: 15px 0 20px;
        table {
          width: 100%;
          text-align: center;
          th {
            width: 30%;
            background-color: #eee;
            padding: 10px;
            border: 1px solid #dedede;
          }
          td {
            padding: 10px;
            border: 1px solid #dedede;
          }
        }
      }
      .Post_head {
        text-align: center;
        margin: 10px 0;
      }
      .Post_content {
        margin-bottom: 20px;
      }
      .Post_map {
        width: 100%;
        height: 350px;
        margin-bottom: 10px;
        text-align: center;
      }
    }
  }

  // 境界線
  hr {
    display: none;
  }

  // 申込ボタン
  .Apply_btn {
    text-align: center;
    padding: 10px 30px;
    border-radius: 5px;
    display: block;
    margin: 50px auto 30px;
  }
  .Taken_btn {
    width: 270px;
    color: $orange;
    border: solid 1px $orange;
  }
  .Take_btn {
    width: 170px;
    background-color: $orange;
    color: white;
    border-style: none;
    cursor: pointer;
  }
}

// =================================================

// NEW
.Post_new_title {
  margin-top: 5px;
  text-align: center;
}
.Post_form {
  width: 450px;
  margin: 30px auto;
  &__Content {
    margin-bottom: 35px;
    font-size: 1.5rem;
    label {
      font-weight: bold;
      display: inline-block;
      margin-bottom: 3px;
    }
    &__Field {
      height: 45px;
      width: 100%;
      margin-bottom: 5px;
      padding: 5px;
      border: solid 1px $gray1;
      border-radius: 3px;
      &--Large {
        width: 100%;
        padding: 5px;
        border: solid 1px $gray1;
        border-radius: 3px;
      }
    }
    select {
      width: 100%;
      height: 45px;
      border: solid 1px $gray1;
      border-radius: 3px;
    }
  }
  &__Btn {
    margin: 50px auto 30px;
  }
}