$orange: #FF8C00;
$gray1:  #A4A8B1;
$gray2: #CBD0D3;

@mixin texthidden() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// NEW
.Post_form {
  width: 450px;
  margin: 50px auto;
  &__Content {
    margin-bottom: 40px;
    font-size: 15px;
    &__Field {
      height: 45px;
      width: 450px;
      margin-bottom: 5px;
      padding: 5px;
      &--Large {
        width: 450px;
        padding: 5px;
      }
    }
    select {
      width: 450px;
      height: 45px;
    }
  }
  &__Btn {
    margin: 60px auto 30px;
  }
}


// INDEX
.Post_index_wrapper {
  height: calc(100vh - 60px);
  overflow: scroll;
  &__Inner {
    width: 1140px;
    padding: 30px 0;
    margin: 0 auto;
    display: flex;
    // 投稿検索
    .Post_index_left {
      width: 220px;
      margin-right: 40px;
      .Search_title {
        font-size: 17px;
        margin-top: 5px;
        margin-left: 5px;
      }
      .Keyword {
        margin: 30px 0;
        &__Form {
          &__Input {
            display: flex;
            &__Text {
              width: 100%;
              padding: 0 5px 5px;
              font-size: 15px;
              border-style: none;
              outline: none;
              border-bottom: solid 2px silver;
            }
            &__Text:focus {
              border-bottom: solid 2px $orange;
            }
            &__Text:focus ~
            .Keyword__Form__Input__Btn{
              color: $orange;
            }
            &__Btn {
              color: silver;
              background-color: white;
              font-size: 22px;
              border-style: none;
              display: block;
              cursor: pointer;
              outline: none;
            }
          }
        }
      }
      .Tag_list {
        .tag {
          font-size: 14px;
          color: $orange;
          margin-right: 5px;
          margin-bottom: 10px;
        }
      }
    }
    // 投稿一覧表示
    .Post_index_right {
      width: 880px;
    }
  }
}

// INDEX, USERS#SHOW
.Post_box {
  color: #4a4a4a;
  width: 880px;
  border: solid 1px silver;
  border-radius: 20px;
  padding: 25px 40px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  // ユーザー情報
  &__Left {
    height: 100px;
    width: 310px;
    display: flex;
    margin: auto 0;
    > a  {
      height: 90px;
      width: 90px;
      margin: auto 30px auto 0;
    }
    &__Image {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      object-fit: cover;
      margin: auto 30px auto 0;
    }
    &__Other {
      line-height: 18px;
      margin: auto 0;
      .Post_index_username {
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 15px;
      }
      .Post_index_review {
        display: flex;
        .Star_rating {
          width: 111px;
          position: relative;
          margin: 0 5px 5px 0;
          img {
            height: 18px;
          }
          .Front {
            position: absolute;
            top: 0px;
            left: 0;
            object-fit: cover;
            object-position: 0% 0%;
          }
        }
      }
    }
  }
  // 投稿の中身
  &__Right {
    width: 490px;
    &__Title {
      width: 490px;
      height: 24px;
      font-weight: bold;
      @include texthidden();
    }
    .Tag_list {
      margin: 5px 0;
      .tag {
        color: $orange;
      }
    }
    &__Text {
      margin: 0 auto;
      &__Lists {
        display: flex;
        margin: 5px;
        &__List {
          margin-right: 5px;
        }
      }
      .tr {
        height: 31px;
        padding: 5px 0;
        display: flex;
        .th {
          color: gray;
          margin-right: 12px;
        }
        .td {
          max-width: 450px;
          @include texthidden();
        }
      }
      .table_lower {
        max-width: 490px;
        display: flex;
        > .tr {
          height: 31px;
          padding: 5px 0;
          display: flex;
          @include texthidden();
          .td_date {
            margin-right: 20px;
            @include texthidden();
          }
          .td_charge {
            @include texthidden();
          }
        }
      }
    }
  }
}

.Empty {
  color: $gray1;
  font-size: 18px;
  margin-top: 80px;
  margin-left: 10px;
  text-align: center;
  > img {
    margin-bottom: 5px;
  }
}


// SHOW
.Post_show_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  // 投稿者の情報
  .Post_user_info {
    width: 190px;
    margin-top: 30px;
    margin-right: 50px;
    text-align: center;
    &__Image {
      height: 120px;
      width: 120px;
      border-radius: 50%;
      object-fit: cover;
      margin: 15px auto 5px;
    }
    .Post_user_info__Review {
      width: 150px;
      height: 19.45px;
      line-height: 19.45px;
      display: flex;
      justify-content: space-between;
      margin: 20px auto 8px;
      .Star_rating {
        width: 120px;
        position: relative;
        img {
          height: 19.45px;
        }
        .Front {
          position: absolute;
          top: 0px;
          left: 0;
          object-fit: cover;
          object-position: 0% 0%;
        }
      }
    }
    &__Follow_counts {
      display: flex;
      justify-content: center;
      margin: 10px auto 30px;
      .Follow_count {
        font-size: 14px;
        a {
          color: #4A4A4A;
        }
        span {
          font-size: 16px;
          font-weight: bold;
        }
      }
      .Left {
        margin-right: 10px;
      }
    }
    .Btns {
      margin: 0 auto;
      a {
        font-size: 15px;
      }
    }
    // 申込済みのユーザー
    .Takers {
      margin-top: 40px;
      .Takers_title {
        margin-bottom: 15px;
      }
      .Takers_empty {
        margin: 15px auto;
      }
      .Taker_icon {
        color: $orange;
        font-size: 28px;
        margin-right: 5px;
      }
      > a {
        color: black;
      }
      .Taker_box {
        width: 160px;
        height: 60px;
        display: flex;
        margin: 20px auto;
        &__Image {
          height: 60px;
          width: 60px;
          border-radius: 50%;
          object-fit: cover;
          margin-left: 0;
          margin-right: 10px;
        }
        &__Name {
          width: 90px;
          margin: auto;
        }
      }
    }
  }
  // 投稿の詳細
  .Post_main__Box {
    width: 99%;
    border: solid 1px silver;
    border-radius: 20px;
    padding: 30px 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0 10px 10px 0;
    position: relative;
    .Post_bookmark--Icon {
      position: absolute;
      top: 30px;
      right: 50px;
      font-size: 35px;
      color: $orange;
      cursor: pointer;
    }
    .Post_show_title {
      width: 400px;
      font-size: 18px;
      text-align: center;
      margin: 0 auto 10px;
    }
    .Tag_list {
      text-align: center;
      .tag {
        color: $orange;
      }
    }
    .Post_table {
      width: 100%;
      margin: 20px 0;
      table {
        width: 100%;
        text-align: center;
        th {
          width: 30%;
          background-color: #eee;
          padding: 10px;
          border: 1px solid #dedede;
        }
        td {
          padding: 10px;
          border: 1px solid #dedede;
        }
      }
    }
    .Post_head {
      text-align: center;
      margin: 10px 0;
    }
    .Post_content {
      margin-bottom: 20px;
    }
    .Post_map {
      width: 527.98px;
      height: 350px;
      margin-bottom: 10px;
      text-align: center;
    }
  }

  // 申込ボタン
  .Taken_btn {
    width: 270px;
    color: $orange;
    text-align: center;
    padding: 10px 30px;
    border: solid 1px $orange;
    display: block;
    margin: 50px auto 30px;
  }
  .Take_btn {
    width: 170px;
    background-color: $orange;
    color: white;
    text-align: center;
    padding: 10px 30px;
    border-style: none;
    display: block;
    margin: 50px auto 30px;
    cursor: pointer;
  }
}