$orange1: #FF6D05;
$orange2: #ffa500;
$gray1: #A4A8B1;
$gray2: #B3B8BB;
$gray3: #D4D6D5;

.Follow_tabs {
  width: 880px;
  display: flex;
  justify-content: center;
  margin: 25px auto 0;
  margin-bottom: 15px;
  .Follow_tab {
    height: 33px;
    width: 140px;
    text-align: center;
    font-weight: bold;
    color: gray;
    margin: 0 20px;
    display: block;
  }
  .Active {
    color: $orange1;
    border-bottom: solid 2px $orange1;
  }
}

.Following {
  font-weight: bold;
  line-height: 35px;
  color: white;
  background-color: $orange2;
  a {
    color: white;
  }
  &:hover {
    color: white;
  }
}

.Follow_list {
  display: none;
  .Follow_name {
    margin-bottom: 5px;
    display: inline-block;
  } 
  .Follow_profile {
    width: 500px;
  }
  .Follow_list_btn {
    position: absolute;
    right: 40px;
  }
}

.Show {
  display: block;
}