@import "modules/base";

.Follow_tabs {
  width: 880px;
  display: flex;
  justify-content: center;
  margin: 25px auto 0;
  .Follow_tab {
    height: 40px;
    width: 50%;
    text-align: center;
    font-weight: bold;
    color: gray;
    border-bottom: 2px solid $gray3;
    display: block;
  }
  .Active {
    color: $orange;
    border-bottom: solid 2px $orange;
  }
}

.Following {
  font-weight: bold;
  line-height: 35px;
  color: white;
  background-color: $orange;
  a {
    color: white;
  }
  &:hover {
    color: white;
  }
}

.Follow_list {
  display: none;
  .Follow_name {
    margin-bottom: 5px;
    display: inline-block;
  } 
  .Follow_profile {
    width: 500px;
  }
  .Follow_list_btn {
    position: absolute;
    right: 40px;
  }
}

.Show {
  display: block;
}

.User_box {
  &__Content {
    .White_btn {
      width: 140px;
      height: 35px;
      font-size: 1.4rem;
      &__Content {
        line-height: 30px;
        i {
          font-size: 1.6rem;
          line-height: 30px;
        }
      }
    }
  }
}