@import "modules/base";

$review_header_height: 60px;


// ヘッダー
.Header_r {
  height: $review_header_height;
  border-bottom: solid 1px $gray2;
  position: relative;
  .Back_btn {
    position: absolute;
    font-size: 3rem;
    color: gray;
    top: 15px;
    left: 50px;
  }
  .Back_btn_s {
    display: none;
  }
  .Wrapper_header_r {
    width: 61vw;
    max-width: 880px;
    margin: 0 auto;
    position: relative;
    display: flex;
    .Title_r {
      font-size: 1.7rem;
      font-weight: bold;
      line-height: $review_header_height;
      margin-right: 50px;
    }
    // タブ
    .Position_r {
      height: 100%;
      margin: auto 0px;
      display: flex;
      &__Name {
        height: $review_header_height;
        font-size: 1.5rem;
        font-weight: bold;
        color: gray;
        line-height: $review_header_height;
        padding: 0 20px;
        display: block;
      }
      .Active {
        line-height: $review_header_height;
        color: $orange;
        border-bottom: solid 2px $orange;
      }
    }
    // 投稿ボタン
    .Write_review {
      font-size: 1.4rem;
      font-weight: bold;
      line-height: $review_header_height;
      margin: auto 0;
      position: absolute;
      top: 13px;
      right: 0;
      .White_btn {
        width: 155px;
        height: 36px;
        &__Content {
          line-height: 18px;
          i {
            font-size: 1.7rem;
            line-height: 32px;
          }
        }
      }
    }
  }
}

// 投稿ボタン（レスポンシブ）
.Write_review_s {
  display: none;
}

// メイン
.Wrapper_r {
  height: calc(100vh - 120px);
  overflow: scroll;
  padding-top: 15px;
  .Wrapper_r_inner {
    width: 61vw;
    height: 100%;
    max-width: 880px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .Reviews {
      width: 100%;
      margin-top: 20px;
      display: none;

      // 個々のレビュー
      .Review_box {
        margin-bottom: 60px;
        display: flex;
        justify-content: start;
        position: relative;
        &__User_image {
          height: 70px;
          width: 70px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 20px;
          display: block;
        }
        &__Content {
          margin: auto;
          &__Info{
            width: 790px;
            margin: auto;
            margin-bottom: 10px;
            display: flex;
            position: relative;
            &__Name {
              width: 140px;
              font-weight: bold;
              margin-right: 70px;
            }
            .Position_text {
              font-size: 1.4rem;
              line-height: 24px;
            }
            &__Time{
              height: 14px;
              line-height: 16px;
              color: $gray4;
              margin: auto 0;
              position: absolute;
              top: 5px;
              right: 0;
            }
          }
        }
      }
    }
    .Show {
      display: block;
    }
  }
}



.Star_rating_r {
  font-size: 1.6rem;
  position: relative;
  margin-right: 60px;
  .Front_r {
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    color: orange;
  }
  .Back_r {
    color: silver;
  }
}

.Form_review {
  width: 500px;
  margin: 40px auto;
  .Position_btns {
    width: 250px;
    margin: 0 auto;
    line-height: 30px;
    font-size: 15px;
    font-weight: bold;
    input {
      width: 18px;
      height: 18px;
      line-height: 30px;
      top: 3px;
      position: relative;
      border: solid bold;
      cursor: pointer;
    }
  }
  .main-rating {
    display: flex;
    width: 210px;
    margin: 30px auto;
    .ratings {
      margin-right: 10px;
      .Star {
        font-size: 25px;
        color: silver;
        cursor: pointer;
      }
    }
    .rating-value-display {
      line-height: 30px;
    }
  }
  &__Text {
    width: 500px;
    padding: 5px;
    border: solid 1px $gray1;
    border-radius: 3px;
  }
}


