@import "modules/base";

@mixin texthidden() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


// ユーザー登録

#error_explanation{
  font-size: 14px;
  margin-bottom: 20px;
}

.Form {
  width: 350px;
  margin: 50px auto;
  &__Content {
    margin-bottom: 40px;
    font-size: 1.5rem;
    > label {
      font-weight: bold;
      display: inline-block;
      margin-bottom: 3px;
    }
    &__Field {
      height: 40px;
      width: 350px;
      margin-bottom: 5px;
      padding: 5px;
      border: solid 1px $gray1;
      border-radius: 3px;
      &--Large {
        width: 350px;
        padding: 5px;
        border: solid 1px $gray1;
        border-radius: 3px;
      }
    }
  }
}

.White_login_btn {
  width: 190px;
  height: 40px;
  color: $orange;
  font-weight: bold;
  background-color: white;
  line-height: 37px;
  text-align: center;
  border: solid 1.3px $orange;
  border-radius: 5px;
  margin: 30px auto;
  display: block;
  text-decoration: none;
  cursor: pointer;
}
.White_login_btn:hover {
  color: $orange;
}


// プロフィール編集

.Edit_profile_image {
  width: 130px;
  margin: 30px auto 0;
  text-align: center;
  &__Text {
    margin-bottom: 10px;
  }
}

.Profile_image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 30px;
}

.Edit_profile_form {
  width: 350px;
  margin: 5px auto 0;
  font-size: 1.5rem;
  .Profile_label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 3px;
  }
  &__Btn{
    width: 90px;
    font-size: 14px;
    background-color: #EAEAEA;
    padding: 5px 10px;
    display: block;
    cursor: pointer;
    margin: 0 auto 25px;
    margin-top: 0;
  }
}