$orange1: #FF6D05;
$orange2: #ffa500;

.Text {
  font-size: 14px;
}

.Text_s {
  font-size: 12px;
}

.Bold {
  font-weight: bold;
}

.Link {
  color: black;
}

#error_explanation{
  font-size: 14px;
  margin-bottom: 20px;
}

.Form {
  width: 350px;
  margin: 50px auto;
  &__Content {
    margin-bottom: 40px;
    font-size: 15px;
    &__Field {
      height: 40px;
      width: 350px;
      margin-bottom: 5px;
    }
  }
}

.Btn {
  width: 100px;
  background-color: $orange2;
  color: white;
  padding: 10px 15px;
  border-style: none;
  display: block;
  margin: 50px auto 30px;
  cursor: pointer;
}



.Profile {
  width: 840px;
  display: flex;
  margin: 30px auto 20px;
  &__Image {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 30px;
  }
  &__Content {
    height: 150px;
    width: 700px;
    &__Name_btns {
      height: 35px;
      width: 600px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      .Name {
        width: 150px;
        font-weight: bold;
        margin-top: 12px;
      }
      .White_btns {
        width: 400px;
        display: flex;
        justify-content: flex-end;
        text-align: center;
        &__Btn {
        width: 120px;
        // font-weight: bold;
        color: $orange1;
        line-height: 35px;
        border: solid 1.3px $orange1;
        margin: 0px 7px;
        }
      }
    }
  }
}

.Position {
  width: 230px;
  display: flex;
  justify-content: space-between;
  margin: 20px 10px;
  .Bold {
    font-weight: bold;
  }
}

.Edit_profile_image {
  width: 130px;
  margin: 0 auto;
  text-align: center;
  &__Text {
    margin-bottom: 10px;
  }
}

.Edit_profile_form {
  width: 350px;
  margin: 5px auto 0;
  &__Btn{
    width: 90px;
    font-size: 14px;
    background-color: #EAEAEA;
    padding: 5px 10px;
    display: block;
    cursor: pointer;
    margin: 0 auto 25px;
    margin-top: 0;
  }
}