$white: #ffffff;
$black: #333333;
$orange1: #FF6D05;
$orange2: #ffa500;
$orange3: #FFE2B2;
$light_blue: #38aef0;

* {
  box-sizing: border-box;
}

.Title1 {
  font-weight: bold;
  text-decoration: underline;
  line-height: 60px;
  margin-left: 80px;
  }

.All {
  height: calc(100vh - 70px);
  display: flex;
  overflow: scroll;
}

.Side_bar {
  height: calc(100vh - 70px);
  width: 280px;
  border-right: solid 1px #B3B8BB;
  // background-color: $orange3;
  overflow: scroll;
  &__box {
    height: 91px;
    width: 300px;
    padding: 20px 20px 40px;
    color: $white;
    &__link {
      text-decoration: none;
    }
    &__group_name {
      color: $white;
      font-size: 15px;
    }
    &__message {
      color: $white;
      font-size: 11px;
    }
  }
}

.Main {
  height: calc(100vh - 70px);
  width: calc(100vw - 280px);
  &__Header {
    height: 60px;
    border-bottom: solid 1px #B3B8BB;
    // padding: 15px 80px;
  }
  &__content {
    height: calc(100vh - 220px);
    width: calc(100vw - 280px);
    padding: 15px 280px 15px 80px;
  }
  &__form {
    height: 90px;
    width: 100%;
    border-top: solid 1px #B3B8BB;
    display: flex;
    align-items: center;
    &__contents {
      height: 40px;
      width: calc(100vw - 640px);
      margin: 0 280px 0 80px;
      display: flex;
      justify-content: space-between;
      &__input {
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        .field_with_errors {
          display: contents;
        }
        &__image {
          cursor: pointer;
        }
        &__text {
          background-color: #F4F4F4;
          height: 40px;
          width: 100%;
          border: solid 1px black;
          padding: 0 35px 0 10px;
        }
        &__image {
          position: absolute;
          right: 10px;
          &__file {
            display: none;
          }
        }
      }
      &__btn {
        background-color: $orange2;
        color: black;
        font-size: 16px;
        padding: 0 30px;
        margin-left: 15px;
        border-style: none;
        cursor: pointer;
      }
    }
  }
}

.Message_box {
  // border: solid 1px black;
  border-radius: 30px;
  padding: 10px 30px 20px 0px;
  margin-bottom: 20px;
  display: flex;
  justify-content: start;
  position: relative;
  &__User_image {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    margin-bottom: 5px;
    display: block;
  }
  &__Content {
    // margin: auto 0;
    &__Name {
    font-weight: bold;
    margin-bottom: 10px;
    }
  }
}




// .Main_chat {
//   height: 100vh;
//   width: calc(100vw - 300px);
//   &__header {
//     height: 100px;
//     background-color: $white;
//     border-bottom: 1px solid #eeeeee;
//     display: flex;
//     justify-content: space-between;
//     &__leftbox {
//       margin-left: 40px;
//       margin-top: 35px;
//       &__group_name {
//         color: $black;
//         font-size: 20px;
//         margin-bottom: 15px;
//       }
//       &__member_list {
//         color: $gray;
//         font-size: 12px;
//         display: flex;
//         list-style: none;
//         &__name {
//           display: flex;
//           &__content {
//             margin-left: 5px;
//           }
//         }
//       }
//     }
//     &__btn {
//       width: 72px;
//       height: 40px;
//       margin: 28px 40px;
//       border: 1px solid $light_blue;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       &--edit {
//         font-size: 16px;
//         text-decoration: none;
//         color: $light_blue;
//       }
//     }
//   }
//   &__content {
//     height: calc(100vh - 190px);
//     background-color: #fafafa;
//     overflow: scroll;
//     &__box {
//       padding: 35px 40px 11px;
//       &__info {
//         display: flex;
//         margin-bottom: 12px;
//         &__user_name {
//           color: $black;
//           font-size: 16px;
//           font-weight: bold;
//         }
//         &__timestamps {
//           color: $gray;
//           font-size: 12px;
//           margin-left: 10px;
//         }
//       }
//       &__message {
//         color: #434a54;
//         font-size: 14px;
//       }
//     }
//   }
//   &__form {
//     height: 90px;
//     background-color: #d2d2d2;
//     display: flex;
//     align-items: center;
//     &__contents {
//       height: 50px;
//       width: 100%;
//       margin: 0 40px;
//       display: flex;
//       justify-content: space-between;
//       &__input {
//         height: 50px;
//         width: 100%;
//         display: flex;
//         align-items: center;
//         position: relative;
//         .field_with_errors {
//           display: contents;
//         }
//         .Main_chat__form__contents__input__text {
//           width: 100%;
//           height: 50px;
//           padding: 0 35px 0 10px;
//           border-style: none;
//         }
//         &__image {
//           position: absolute;
//           right: 10px;
//           &__file {
//             display: none;
//           }
//         }
//       }
//       &__btn {
//         background-color: $light_blue;
//         color: $white;
//         font-size: 16px;
//         padding: 0 30px;
//         margin-left: 15px;
//         border-style: none;
//       }
//     }
//   }
// }
