$orange1: #FF6D05;
$orange2: #ffa500;
$orange3: #FFE2B2;
$orange4: #FFC882;
$gray: #f5f5f5;

.Post_form {
  width: 450px;
  margin: 50px auto;
  &__Content {
    margin-bottom: 40px;
    font-size: 15px;
    &__Field {
      height: 45px;
      width: 450px;
      margin-bottom: 5px;
      padding: 5px;
      &--Large {
        width: 450px;
        padding: 5px;
      }
    }
    select {
      width: 450px;
      height: 45px;
    }
  }
  &__Btn {
    width: 100px;
    background-color: $orange2;
    color: white;
    padding: 10px 15px;
    border-style: none;
    display: block;
    margin: 60px auto 30px;
    cursor: pointer;
  }
}

.Post_box {
  color: #4a4a4a;
  width: 100%;
  border: solid 1px silver;
  border-radius: 30px;
  padding: 25px 40px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  &__Left {
    height: 90px;
    width: 320px;
    display: flex;
    margin: auto 0;
    > a  {
      height: 90px;
      width: 90px;
      margin: auto 30px auto 0;
    }
    &__Image {
      height: 90px;
      width: 90px;
      border-radius: 50%;
      object-fit: cover;
      margin: auto 30px auto 0;
    }
    &__Other {
      line-height: 18px;
      margin: auto 0;
      .Post_index_username {
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 15px;
      }
      .Post_index_review {
        display: flex;
        .Star_rating {
          width: 111px;
          position: relative;
          margin: 0 5px 5px 0;
          img {
            height: 18px;
          }
          .Front {
            position: absolute;
            top: 0px;
            left: 0;
            object-fit: cover;
            object-position: 0% 0%;
          }
        }
      }
    }
  }
  &__Right {
    width: 490px;
    &__Title {
      width: 490px;
      height: 24px;
      font-weight: bold;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-bottom: 10px;
    }
    &__Text {
      margin: 0 auto;
      &__Lists {
        display: flex;
        margin: 5px;
        &__List {
          margin-right: 5px;
        }
      }
      th {
        width: 120px;
        height: 31px;
        color: gray;
        width: 120px;
        padding: 5px 0;
        margin-right: 15px;
      }
      td {
        max-width: 370px;
        height: 31px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 5px 0;
      }
    }
  }
}

.Empty {
  margin-top: 30px;
  margin-left: 10px;
}

.Post_show_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  .Post_user_info {
    width: 280px;
    margin-top: 30px;
    margin-right: 50px;
    text-align: center;
    &__Image {
      height: 120px;
      width: 120px;
      border-radius: 50%;
      object-fit: cover;
      margin: 15px auto 5px;
    }
    .Post_user_info__Review {
      width: 150px;
      height: 19.45px;
      line-height: 19.45px;
      display: flex;
      justify-content: space-between;
      margin: 20px auto 8px;
      .Star_rating {
        width: 120px;
        position: relative;
        img {
          height: 19.45px;
        }
        .Front {
          position: absolute;
          top: 0px;
          left: 0;
          object-fit: cover;
          object-position: 0% 0%;
        }
      }
    }
    > a {
      font-size: 15px;
    }
    &__Btn {
      width: 160px;
      color: $orange1;
      line-height: 35px;
      border: solid 1.3px $orange1;
      margin: 20px auto;
      display: block;
    }
  }
  .Post_main {
    width: 100%;
    border: solid 1px silver;
    border-radius: 30px;
    padding: 30px 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0 10px 10px 0;
    .Post_show_title {
      font-size: 18px;
      text-align: center;
    }
    .Post_table {
      width: 100%;
      margin: 20px 0;
      table {
        width: 100%;
        text-align: center;
        th {
          width: 30%;
          background-color: #eee;
          padding: 10px;
          border: 1px solid #dedede;
        }
        td {
          padding: 10px;
          border: 1px solid #dedede;
        }
      }
    }
    .Post_head {
      text-align: center;
      margin: 15px 0;
    }
    .Post_map {
      width: 527.98px;
      height: 350px;
      margin-bottom: 10px;
      text-align: center;
    }
  }
}