$orange1: #FF6D05;
$orange2: #ffa500;
$orange3: #FFE2B2;
$orange4: #FFC882;

.Form__Content__Field--large {
  width: 350px;
}

.Post_box {
  border: solid 1px black;
  border-radius: 30px;
  padding: 20px 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: start;
  position: relative;
  &__User_info {
    margin-right: 25px;
    &__Image {
      height: 90px;
      width: 90px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 5px;
    }
    &__Name {
      font-weight: bold;
      text-align: center;
    }
  }
  &__Text {
    margin: auto 0;
    font-weight: bold;
    &__Lists {
      display: flex;
      margin: 5px;
      &__List {
        margin-right: 5px;
      }
    }
  }
  .more {
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 30px;
    height: 100px;
    width: 80px;
    text-align: right;
  }
  
  .more:hover ul.more_list {
    display: block;
  }
  
  .more ul.more_list {
    position: absolute;
    text-align: left;
    width: 50px;
    right: 0;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #ddd;
    display: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
  
  .more ul.more_list li {
    border-bottom: 1px solid #ddd;
  }
  
  .more ul.more_list li:last-child {
    border-bottom: 0;
  }
  
  .more ul.more_list li a {
    display: block;
    padding: 5px;
    text-align: center;
  }
  
  .more ul.more_list li a:hover {
    background-color: $orange4;
  }

  .down_btn {
    color: black;
  }
}

.Empty {
  margin-top: 30px;
  margin-left: 10px;
}