.Header_r {
  height: 60px;
  border-bottom: solid 1px #B3B8BB;
}
.Wrapper_r {
  margin: auto 280px;
}

.Title_r {
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  line-height: 60px;
  margin-left: 280px;
  }