.Header_r {
  height: 60px;
  border-bottom: solid 1px #B3B8BB;
  .Wrapper_r {
    width: 880px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .Title_r {
      font-size: 18px;
      font-weight: bold;
      text-decoration: underline;
      line-height: 60px;
    }
    .Write_review {
      font-size: 14px;
      font-weight: bold;
      margin: auto 0;
    }
    .Reviews {
      margin-top: 20px;
    }
  }
  .Main__content_r {
    padding: 15px 280px;
    height: calc(100vh - 220px);
    overflow: scroll;
  }
}



.Form_review {
  width: 500px;
  margin: 40px auto;
  .main-rating {
    display: flex;
    width: 210px;
    margin: 0 auto;
    .ratings {
      margin-right: 10px;
      .Star {
        font-size: 25px;
        color: silver;
        cursor: pointer;
      }
    }
    .rating-value-display {
      line-height: 30px;
    }
  }
  &__Text {
    width: 500px;
    padding: 5px;
    margin-top: 25px;
  }
}