.Side_bar {
  height: calc(100vh - 70px);
  width: 280px;
  border-right: solid 1px #B3B8BB;
  overflow: scroll;
  .Group_box {
    height: 95px;
    padding: 15px 20px;
    &__Content{
      display: flex;
      justify-content: start;
      position: relative;
      &__User_image{
        height: 65px;
        width: 65px;
        border-radius: 50%;
        object-fit: cover;
        margin: auto 15px auto 0;
        display: block;
      }
      &__Text{
        margin: auto 0;
        &__Info{        
          margin-bottom: 3px;
          display: flex;
          justify-content: space-between;
          &__Name{
            font-weight: bold;
          }
          &__Time{
            font-size: 12px;
            color: #7B7D7F;
          }
        }
        &__Message{
          width: 159px;
          max-height: 36px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }
    }
  }
  .Group_box:hover{
    background-color: #f7f7f7;
  }
}