.Message_box
  -# = attachment_image_tag current_user, :profile_image, fallback: "no-image.jpg", class: "Message_box__User_image"
  = image_tag "kakashi.jpg", class: "Message_box__User_image"
  .Message_box__Content
    = link_to "カカシ", "#", class: "Link Text Message_box__Content__Name"
    .Message_box__Text.Text
      現地のタクシーに乗るのが怖いので、運転を依頼させていただきました。
      %br
      とても親切で話しやすい方でした。またバンコク行ったらお願いしたいと思います。
.Message_box
  -# = attachment_image_tag @user, :profile_image, fallback: "no-image.jpg", class: "Message_box__User_image"
  = image_tag "ri-.jpg", class: "Message_box__User_image"
  .Message_box__Content
    = link_to "ロック・リー", posts_g_path(@user), class: "Link Text Message_box__Content__Name"
    .Message_box__Text.Text
      案内が丁寧で助かりました。ありがとうございました！！





-# .Message_box{data: {review: {id: review.id}}}
-# = simple_format(@review.content)


      -# let html =
      -# `<div class="Main_chat__content__box" data-message-id=${message.id}>
      -#   <div class="Main_chat__content__box__info">
      -#     <div class="Main_chat__content__box__info__user_name">
      -#       ${message.user_name}
      -#     </div>
      -#     <div class="Main_chat__content__box__info__timestamps">
      -#       ${message.created_at}
      -#     </div>
      -#   </div>
      -#   <div class="Main_chat__content__box__message">
      -#     <p class="Main_chat__content__box__message__content">
      -#       ${message.content}
      -#     </p>
      -#   </div>
      -# </div>`
      -# return html;