.Header
  .Header__Content
    = link_to "/", class: "Header_title" do
      %i.fas.fa-shoe-prints.fa-rotate-270.fa-orange
      %span Biita!
    .Header_search_btns
      = link_to "ツアーゲストを探す", posts_g_index_path
      = link_to "ツアーキャストを探す", posts_c_index_path
    = render "layouts/header_btns"